@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    height: 800px;
    margin: 0;
}  


body {
    min-height: 100%; 
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, rgba(74, 74, 74, 1), rgba(74, 74, 74, 0.2));
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* HEADER */

#header {   
    width: 100%;
    height: 20%;
    background-color: #001f3f;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 1000; /* Asegúrate de que el encabezado esté en la parte superior */     
}

#bloqueIzq {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

#bloqueDer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    max-width: 30%; 
    height: auto; 
    border: 1px solid #e2e2d5;
}

#lema {
    color: #e2e2d5;
    font-family: 'Baskerville', serif;
    font-size: 30px; 
    text-align: center;
    font-style: italic; 
}

.menu {
    font-family: 'Baskerville', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px; 
}

.menu li a {
    color: #e2e2d5;
    text-decoration: none; 
    padding: 5px 10px; 
    transition: background-color 0.6s; 
}

.menu li a:hover {
    background-color: #e2e2d5;
    color: #001f3f;
    border-radius: 0.1%; 
}

#menu{
    margin-right: 50px;
}

.icono {
    max-width: 40px;    
    height: auto; 
    vertical-align: middle; 
    padding-right: 40px;
    padding-left: 20px;
}

/* LISTA DE COLECCIONES */
#colecciones {
    display: grid; /* Usamos grid en lugar de flex */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Hace que las imágenes se adapten de manera responsiva */
    margin: 40px auto; /* Centrar el contenedor y añadir margen superior/inferior */
    width: 80%; /* Ancho total del contenedor */
    gap: 20px; /* Espacio entre los elementos */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    
}

.coleccion{
    padding: 20px;
}

.coleccion a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 24px; /* Tamaño de la fuente */
    font-family: 'Baskerville', serif;

}

#colecciones .coleccion {

    flex: 1;
    height: 50px; /* Altura fija de los divs */
    background-color: #001f3f; /* Color de fondo */
    display: flex; /* Para centrar el texto dentro del div */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    transition: background-color 0.3s ease; /* Efecto de transición para el hover */
    border-radius: 10px;
    
}

#colecciones .coleccion:hover {
    background-color: #a6003b; /* Color más claro al pasar el ratón */
}




/*GALERÍA*/

#galeria-compra {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    background-color: #e2e2d5;
    border-radius: 10px;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transición suave de sombra */
    margin-bottom: 80px;
}

.galeria-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grid responsivo */
    gap: 20px; /* Espacio entre elementos */
    margin: 40px;
}

.producto {
    
    border-radius: 10px;
    overflow: hidden; /* Para que el contenido no se desborde */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
}

.producto:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra al hacer hover */
}

.corbata {
    width: 100%;
    height: 200px; /* Altura fija para las corbatas */
    background-position: center;
    background-size: cover;
}

.producto-info {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: #e2e2d5; /* Fondo claro */
    border: 1px solid transparent; /* Borde invisible por defecto */
}

.boton-comprar {
    display: inline-block;
    margin-top: 10px;
    background-color: #800020; /* Color del botón */
    color: white; /* Color del texto */
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, border 0.3s ease; /* Añadir transición suave también al borde */
    border: 2px solid transparent; /* Borde transparente por defecto */
    box-sizing: border-box; /* Para asegurarse de que el borde esté incluido en las dimensiones del botón */
}

.boton-comprar:hover {
    background-color: rgba(128, 0, 32, 0.8); /* Color más claro al hacer hover */
    border: 2px solid #d4af37; /* Cambiar el borde a dorado al hacer hover */
}

/* FOOTER */

#footer {
    
    width: 100%;
    background-color: #001f3f;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.footerText{
    font-family: 'Baskerville', serif;
    font-size: 15px;
    color: #e2e2d5;
    font-style: italic;
}

