@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    height: 800px;
    margin: 0;
}  


body {
    min-height: 100%; 
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, rgba(74, 74, 74, 1), rgba(74, 74, 74, 0.2));
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


/* Estilos del Modal */

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; 
    z-index: 1001; /* Asegúrate de que esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btnPagar {
    background-color: #001f3f;
    color: #e2e2d5;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#btnPagar:hover {
    background-color: #001736;
}

/* HEADER */

#header {   
    width: 100%;
    background-color: #001f3f;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 1000; /* Asegúrate de que el encabezado esté en la parte superior */     
}

#bloqueIzq {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

#bloqueDer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    max-width: 50%; 
    height: auto; 
    border: 1px solid #e2e2d5;
}

#lema {
    color: #e2e2d5;
    font-family: 'Baskerville', serif;
    font-size: 19px; 
    text-align: center;
    font-style: italic; 
}

.menu {
    font-family: 'Baskerville', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 19px;
}

.menu > ul{
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px; 
    padding: 5px 10px; 
}


/* Subrayado espaciado en el hover para COLECCIONES y CONÓCENOS */

.menu li > a {
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    color: #e2e2d5;
    text-decoration: none; 
    transition: background-color 0.6s; 
}

.menu li >a:hover{
    filter: brightness(0) invert(1);
}

.menu li > a:hover::after {
    content: ""; /* Elemento vacío para crear la línea de subrayado */
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor de la línea de subrayado */
    background-color: #e2e2d5; /* Color de la línea */
    bottom: -9px; /* Distancia entre el texto y la línea */
    left: 0;
    transition: transform 0.3s ease; /* Transición suave para el hover */
    transform: scaleX(1); /* Mantiene el subrayado a lo largo de todo el ancho */
    filter: brightness(0) invert(1);
}

/* Efecto de escala para hacer que aparezca gradualmente */

.menu li > a::after {
    content: ""; /* Elemento vacío para crear la línea de subrayado */
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor de la línea de subrayado */
    background-color: #e2e2d5; /* Color de la línea */
    bottom: -5px; /* Distancia entre el texto y la línea */
    left: 0;
    transform: scaleX(0); /* Oculto inicialmente */
    transform-origin: center;
    transition: transform 0.3s ease; /* Transición suave */
    filter: brightness(0) invert(1);
}

.menu li > img:hover {
    filter: brightness(0) invert(1);
}

#menu{
    margin-right: 65px;
    align-items: center;
}

.icono {
    max-width: 35px;
       
    height: auto; 
    vertical-align: middle; 
           
}

@media(max-width:1000px){
    #lema{
        display: none;
    }
}

@media (max-width: 600px) {
    #header {   
        display: flex;
        flex-direction: column; /* Cambia a columna */
        justify-content: center;
        align-items: center; /* Centra los elementos horizontalmente */
        padding: 15px;
        z-index: 1000;
    }

    #bloqueIzq {
        width: 100%;
        display: flex;
        justify-content: center; /* Centra los elementos dentro del bloque */
        align-items: center;
        margin-bottom: 10px; /* Espacio entre el logo y el lema */
        
    }

    #bloqueDer {
        width: 100%;
        display: flex;
        justify-content: center; /* Centra los elementos dentro del bloque */
        align-items: center;
    }

    #logo {
        max-width: 50%; /* Aumenta el tamaño del logo si es necesario */
        margin-bottom: 10px; /* Agrega un margen debajo del logo */
        margin-left:90px;
    }

    #menu {
        display: flex;
        flex-direction: row; /* Asegura que el menú sea horizontal */
        justify-content: center; /* Centra el menú */
        align-items: center;
        width: 100%;
        margin-left: 60px;
    }

    .menu {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .menu li {
        margin: 0 10px;
    }

    .icono {
        max-width: 35px;
        height: auto;
    }

    #lema {
        display: none; /* Muestra el lema en pantallas pequeñas */
    }

    .titulo > h1{
        text-align: center;
    }
}

/*TITULO */

.titulo{
    width: 80%;
    background-color: #001f3f;
    color: #e2e2d5; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px; /* Tamaño de la fuente */
    font-family: 'Baskerville', serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;


}   

/* SOBRE NOSOTROS */
#about-us {
    
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 0;
    margin-top: 40px;
    margin-bottom: 60px;
    
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #e2e2d5;
    border-radius: 10px;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease;
  
}

.image-container {
    width: 100%;
   
   }

.image-container img {
    width: 100%;
    height: auto;
    
    padding: 30px;
    box-sizing: border-box;
    
}

.text-container {
    width: 100%; /* Texto en la segunda columna */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom:20px;
}

.text-container p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    box-sizing: border-box;
}

/* FOOTER */

#footer {
    
    width: 100%;
    background-color: #001f3f;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.footerText{
    font-family: 'Baskerville', serif;
    font-size: 15px;
    color: #e2e2d5;
    font-style: italic;
}

